.indie-flower{
  font-family: 'Indie Flower', cursive;
}

.pacifico{
  font-family: 'Pacifico', cursive;
}

.nunito-sans{
  font-family: 'Nunito Sans', sans-serif;
}

.abril-fatface{
  font-family: 'Abril Fatface', cursive;
}

.amatic-sc{
  font-family: 'Amatic SC', cursive;
}